My workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "id": "945c5678-f229-4b31-8534-94b4b1315822",
      "name": "Start Research",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        -816
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "keyword",
              "value": "gnn recommendation system",
              "type": "string"
            },
            {
              "id": "2",
              "name": "year_from",
              "value": 2024,
              "type": "number"
            },
            {
              "id": "3",
              "name": "year_to",
              "value": 2025,
              "type": "number"
            },
            {
              "id": "4",
              "name": "limit",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "6c0e7a82-deab-4ba6-af38-ee372dfeee15",
      "name": "Input Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        -816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/search/papers",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ keyword: $json.keyword, year_from: $json.year_from, year_to: $json.year_to, limit: $json.limit }) }}",
        "options": {}
      },
      "id": "c89d5abf-cc59-4932-b438-2abc820f2b8a",
      "name": "Search Papers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1312,
        -816
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "papers",
        "options": {}
      },
      "id": "1fc3dfb5-8336-44f7-aa82-d4b24b1e27fd",
      "name": "Split Papers",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1104,
        -816
      ]
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/v1/papers/{{ $json.id }}/try-semantic-scholar",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "223bb116-165c-4f91-8132-2963c447ef49",
      "name": "[1] Try Semantic Scholar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -880,
        -816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.pdf_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.detail }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fcdd7fe2-c38d-40fb-a52f-e6fe99a01b47",
      "name": "PDF Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -656,
        -816
      ]
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/v1/papers/{{ $('Split Papers').item.json.id }}/try-arxiv",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1fbd4ea8-3e6b-4e82-a26c-c7f6f8bdb512",
      "name": "[2] Try arXiv",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -656,
        -608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.pdf_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.detail }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08518443-5289-4524-a6ff-49318ef250ec",
      "name": "PDF Found (arXiv)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -432,
        -608
      ]
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/v1/papers/{{ $('Split Papers').item.json.id }}/try-unpaywall",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ed40fe95-a5f2-4841-a27a-97bb258ee7b3",
      "name": "[3] Try Unpaywall",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -432,
        -416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.pdf_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.detail }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "034a313b-3dda-4191-ab72-1b4216b7c6a4",
      "name": "PDF Found (Unpaywall)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        -416
      ]
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/v1/papers/{{ $('Split Papers').item.json.id }}/try-google-scholar",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "9694e528-6576-47c0-909a-17c31df05d88",
      "name": "[4] Try Google Scholar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -224,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.pdf_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.detail }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "140ff177-82d8-45cf-a65a-c2c39bef59cb",
      "name": "PDF Found (Scholar)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        -208
      ]
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/v1/papers/{{ $('Split Papers').item.json.id }}/try-google-search",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fb408b73-3ef5-4765-b2a2-47aaedcfc7f5",
      "name": "[5] Try Google Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.pdf_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.detail }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bff737d5-7f7c-4104-800e-0a8fcaf96d6e",
      "name": "PDF Found (Google)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ]
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/v1/papers/{{ $('Split Papers').item.json.id }}/pdf-text",
        "options": {}
      },
      "id": "a47e472a-bca6-42d6-84c0-24bbf7caa63b",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -432,
        -928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/papers/summary",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ paper_id: $json.paper_id, summary: $json.clean_json }) }}",
        "options": {}
      },
      "id": "fb606aff-13b8-442a-b1fe-564b08454946",
      "name": "Save Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        -928
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0fcc5d80-893d-4b3c-8156-c2cbbfb493c5",
      "name": "Give Up (No PDF)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-mini-2025-08-07"
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        -816
      ],
      "id": "55c4c488-e3b2-4a4d-bc1f-81cdc026e8c3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fgL5dNA01B3rLtYt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert research paper analyst.\n\nAnalyze this paper and provide a JSON summary:\n\nPaper ID: {{ $json.paper_id }}\nText (first 20k chars): {{ $json.text.substring(0, 20000) }}\n\nProvide ONLY valid JSON in this format (no markdown, no code blocks):\n{\n  \"paper_id\": \"{{ $json.paper_id }}\",\n  \"summary_ko\": \"3-sentence Korean summary\",\n  \"key_contributions\": [\"contribution 1\", \"contribution 2\", \"contribution 3\"],\n  \"methodology\": \"brief methodology description\",\n  \"main_results\": \"key results\",\n  \"limitations\": \"limitations\",\n  \"dataset\": \"dataset used\"\n}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a research paper analyst. Always respond with valid JSON only, no markdown formatting."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -256,
        -928
      ],
      "id": "5a6ea22d-0c03-41fb-8a42-5ca1100b56ec",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $input.item.json.output || $input.item.json.text || $input.item.json.response || '';\nconst cleanJson = llmOutput.replace(/```json/g, '').replace(/```/g, '').trim();\nconst paperId = $('Extract PDF Text').item.json.paper_id;\n\nreturn {\n  clean_json: cleanJson,\n  paper_id: paperId\n};"
      },
      "id": "clean-json-node",
      "name": "Clean JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, -928]
    }
  ],
  "pinData": {},
  "connections": {
    "Start Research": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parameters": {
      "main": [
        [
          {
            "node": "Search Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Papers": {
      "main": [
        [
          {
            "node": "Split Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Papers": {
      "main": [
        [
          {
            "node": "[1] Try Semantic Scholar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[1] Try Semantic Scholar": {
      "main": [
        [
          {
            "node": "PDF Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Found?": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[2] Try arXiv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] Try arXiv": {
      "main": [
        [
          {
            "node": "PDF Found (arXiv)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Found (arXiv)?": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[3] Try Unpaywall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[3] Try Unpaywall": {
      "main": [
        [
          {
            "node": "PDF Found (Unpaywall)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Found (Unpaywall)?": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[4] Try Google Scholar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[4] Try Google Scholar": {
      "main": [
        [
          {
            "node": "PDF Found (Scholar)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Found (Scholar)?": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[5] Try Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5] Try Google Search": {
      "main": [
        [
          {
            "node": "PDF Found (Google)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Found (Google)?": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Give Up (No PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Clean JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean JSON": {
      "main": [
        [
          {
            "node": "Save Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d02cc09a-24ea-468d-991a-34b38bac36cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eed024bb5d204d44b22cd35ec2dd369a6de7f278aa734e916f52ff1ff75e4e62"
  },
  "id": "axZEL0n0zxIWOS5V",
  "tags": []
}